(
    name: "Test",
    board: (
        rows: 8,
        cols: 8,
    ),
    pieces: {
        Cube: (
            count: Finite(100),
            movement: And([
                Or([
                    Equal(TargetRow, SourceRow),
                    Equal(TargetCol, SourceCol),
                ]),
                Or([
                    And([
                        Not(PosOccupied(TargetRow, TargetCol)),
                        Equal(CountInRect((SourceRow, SourceCol), (TargetRow, TargetCol)), Const(0)),
                    ]),
                    And([
                        PosOccupied(TargetRow, TargetCol),
                        Equal(CountInRect((SourceRow, SourceCol), (TargetRow, TargetCol)), Const(1)),
                    ]),
                ]),
            ]),
            placement: Not(PosOccupied(ToPlaceRow, ToPlaceCol)),
        ),
        Sphere: (
            count: Finite(100),
            movement: True,
            placement: Or([
                Equal(ToPlaceRow, Const(5)),
                Equal(ToPlaceCol, Const(5)),
            ]),
        ),
        Cylinder: (
            count: Infinite,
            movement: Or([
                And([
                    Equal(Abs(Sub(TargetRow, SourceRow)), Const(1)),
                    Equal(TargetCol, SourceCol),
                ]),
                And([
                    Equal(Abs(Sub(TargetCol, SourceCol)), Const(1)),
                    Equal(TargetRow, SourceRow),
                ]),
            ]),
            placement: Or([
                Equal(ToPlaceRow, Const(6)),
                Equal(ToPlaceCol, Const(6)),
            ]),
        ),
        Capsule: (
            count: Finite(100),
            movement: True,
            placement: True,
        ),
        Cone: (
            count: Finite(100),
            movement: True,
            placement: True,
        ),
        Torus: (
            count: Finite(100),
            movement: True,
            placement: True,
        ),
        Tetrahedron: (
            count: Finite(100),
            movement: True,
            placement: True,
        ),
    },
    players: {
        Black: (
            lose_condition: False,
            win_condition: False,
        ),
        White: (
            lose_condition: False,
            win_condition: False,
        ),
        Red: (
            lose_condition: False,
            win_condition: False,
        ),
        Yellow: (
            lose_condition: False,
            win_condition: False,
        ),
        Green: (
            lose_condition: False,
            win_condition: False,
        ),
        Purple: (
            lose_condition: False,
            win_condition: False,
        ),
        Cyan: (
            lose_condition: False,
            win_condition: False,
        ),
    },
    initial_layout: [
        (
            model: Cube,
            color: White,
            pos: (0, 0),
        ),
        (
            model: Sphere,
            color: Black,
            pos: (1, 1),
        ),
        (
            model: Cylinder,
            color: Red,
            pos: (2, 2),
        ),
        (
            model: Capsule,
            color: Yellow,
            pos: (3, 3),
        ),
        (
            model: Cone,
            color: Green,
            pos: (4, 4),
        ),
        (
            model: Torus,
            color: Purple,
            pos: (5, 5),
        ),
        (
            model: Tetrahedron,
            color: Cyan,
            pos: (6, 6),
        ),
    ],
    game_over_condition: False,
)
