TileTopology(
    tiles: {
        TileId(0): (
            edges: [
                (neighbor: Some(TileId(17))),
                (neighbor: Some(TileId(23))),
                (neighbor: Some(TileId(25))),
                (neighbor: Some(TileId(26))),
                (neighbor: Some(TileId(12))),
                (neighbor: Some(TileId(18))),
            ],
        ),
        TileId(1): (
            edges: [
                (neighbor: Some(TileId(3))),
                (neighbor: Some(TileId(20))),
                (neighbor: Some(TileId(27))),
                (neighbor: Some(TileId(13))),
                (neighbor: Some(TileId(14))),
                (neighbor: Some(TileId(2))),
            ],
        ),
        TileId(2): (
            edges: [
                (neighbor: Some(TileId(3))),
                (neighbor: Some(TileId(1))),
                (neighbor: Some(TileId(14))),
                (neighbor: Some(TileId(30))),
                (neighbor: Some(TileId(31))),
                (neighbor: Some(TileId(4))),
            ],
        ),
        TileId(3): (
            edges: [
                (neighbor: Some(TileId(5))),
                (neighbor: Some(TileId(20))),
                (neighbor: Some(TileId(1))),
                (neighbor: Some(TileId(2))),
                (neighbor: Some(TileId(4))),
            ],
        ),
        TileId(4): (
            edges: [
                (neighbor: Some(TileId(5))),
                (neighbor: Some(TileId(3))),
                (neighbor: Some(TileId(2))),
                (neighbor: Some(TileId(31))),
                (neighbor: Some(TileId(21))),
                (neighbor: Some(TileId(15))),
            ],
        ),
        TileId(5): (
            edges: [
                (neighbor: Some(TileId(4))),
                (neighbor: Some(TileId(15))),
                (neighbor: Some(TileId(6))),
                (neighbor: Some(TileId(28))),
                (neighbor: Some(TileId(20))),
                (neighbor: Some(TileId(3))),
            ],
        ),
        TileId(6): (
            edges: [
                (neighbor: Some(TileId(5))),
                (neighbor: Some(TileId(15))),
                (neighbor: Some(TileId(24))),
                (neighbor: Some(TileId(7))),
                (neighbor: Some(TileId(16))),
                (neighbor: Some(TileId(28))),
            ],
        ),
        TileId(7): (
            edges: [
                (neighbor: Some(TileId(6))),
                (neighbor: Some(TileId(24))),
                (neighbor: Some(TileId(8))),
                (neighbor: Some(TileId(23))),
                (neighbor: Some(TileId(16))),
            ],
        ),
        TileId(8): (
            edges: [
                (neighbor: Some(TileId(24))),
                (neighbor: Some(TileId(22))),
                (neighbor: Some(TileId(9))),
                (neighbor: Some(TileId(25))),
                (neighbor: Some(TileId(23))),
                (neighbor: Some(TileId(7))),
            ],
        ),
        TileId(9): (
            edges: [
                (neighbor: Some(TileId(22))),
                (neighbor: Some(TileId(29))),
                (neighbor: Some(TileId(10))),
                (neighbor: Some(TileId(26))),
                (neighbor: Some(TileId(25))),
                (neighbor: Some(TileId(8))),
            ],
        ),
        TileId(10): (
            edges: [
                (neighbor: Some(TileId(30))),
                (neighbor: Some(TileId(11))),
                (neighbor: Some(TileId(26))),
                (neighbor: Some(TileId(9))),
                (neighbor: Some(TileId(29))),
            ],
        ),
        TileId(11): (
            edges: [
                (neighbor: Some(TileId(14))),
                (neighbor: Some(TileId(13))),
                (neighbor: Some(TileId(12))),
                (neighbor: Some(TileId(26))),
                (neighbor: Some(TileId(10))),
                (neighbor: Some(TileId(30))),
            ],
        ),
        TileId(12): (
            edges: [
                (neighbor: Some(TileId(18))),
                (neighbor: Some(TileId(0))),
                (neighbor: Some(TileId(26))),
                (neighbor: Some(TileId(11))),
                (neighbor: Some(TileId(13))),
            ],
        ),
        TileId(13): (
            edges: [
                (neighbor: Some(TileId(1))),
                (neighbor: Some(TileId(27))),
                (neighbor: Some(TileId(18))),
                (neighbor: Some(TileId(12))),
                (neighbor: Some(TileId(11))),
                (neighbor: Some(TileId(14))),
            ],
        ),
        TileId(14): (
            edges: [
                (neighbor: Some(TileId(1))),
                (neighbor: Some(TileId(13))),
                (neighbor: Some(TileId(11))),
                (neighbor: Some(TileId(30))),
                (neighbor: Some(TileId(2))),
            ],
        ),
        TileId(15): (
            edges: [
                (neighbor: Some(TileId(5))),
                (neighbor: Some(TileId(4))),
                (neighbor: Some(TileId(21))),
                (neighbor: Some(TileId(24))),
                (neighbor: Some(TileId(6))),
            ],
        ),
        TileId(16): (
            edges: [
                (neighbor: Some(TileId(6))),
                (neighbor: Some(TileId(7))),
                (neighbor: Some(TileId(23))),
                (neighbor: Some(TileId(17))),
                (neighbor: Some(TileId(19))),
                (neighbor: Some(TileId(28))),
            ],
        ),
        TileId(17): (
            edges: [
                (neighbor: Some(TileId(16))),
                (neighbor: Some(TileId(23))),
                (neighbor: Some(TileId(0))),
                (neighbor: Some(TileId(18))),
                (neighbor: Some(TileId(19))),
            ],
        ),
        TileId(18): (
            edges: [
                (neighbor: Some(TileId(19))),
                (neighbor: Some(TileId(17))),
                (neighbor: Some(TileId(0))),
                (neighbor: Some(TileId(12))),
                (neighbor: Some(TileId(13))),
                (neighbor: Some(TileId(27))),
            ],
        ),
        TileId(19): (
            edges: [
                (neighbor: Some(TileId(28))),
                (neighbor: Some(TileId(16))),
                (neighbor: Some(TileId(17))),
                (neighbor: Some(TileId(18))),
                (neighbor: Some(TileId(27))),
                (neighbor: Some(TileId(20))),
            ],
        ),
        TileId(20): (
            edges: [
                (neighbor: Some(TileId(5))),
                (neighbor: Some(TileId(28))),
                (neighbor: Some(TileId(19))),
                (neighbor: Some(TileId(27))),
                (neighbor: Some(TileId(1))),
                (neighbor: Some(TileId(3))),
            ],
        ),
        TileId(21): (
            edges: [
                (neighbor: Some(TileId(4))),
                (neighbor: Some(TileId(31))),
                (neighbor: Some(TileId(29))),
                (neighbor: Some(TileId(22))),
                (neighbor: Some(TileId(24))),
                (neighbor: Some(TileId(15))),
            ],
        ),

        TileId(22): (
            edges: [
                (neighbor: Some(TileId(21))),
                (neighbor: Some(TileId(29))),
                (neighbor: Some(TileId(9))),
                (neighbor: Some(TileId(8))),
                (neighbor: Some(TileId(24))),
            ],
        ),
        TileId(23): (
            edges: [
                (neighbor: Some(TileId(7))),
                (neighbor: Some(TileId(8))),
                (neighbor: Some(TileId(25))),
                (neighbor: Some(TileId(0))),
                (neighbor: Some(TileId(17))),
                (neighbor: Some(TileId(16))),
            ],
        ),
        TileId(24): (
            edges: [
                (neighbor: Some(TileId(15))),
                (neighbor: Some(TileId(21))),
                (neighbor: Some(TileId(22))),
                (neighbor: Some(TileId(8))),
                (neighbor: Some(TileId(7))),
                (neighbor: Some(TileId(6))),
            ],
        ),
        TileId(25): (
            edges: [
                (neighbor: Some(TileId(8))),
                (neighbor: Some(TileId(9))),
                (neighbor: Some(TileId(26))),
                (neighbor: Some(TileId(0))),
                (neighbor: Some(TileId(23))),
            ],
        ),
        TileId(26): (
            edges: [
                (neighbor: Some(TileId(25))),
                (neighbor: Some(TileId(9))),
                (neighbor: Some(TileId(10))),
                (neighbor: Some(TileId(11))),
                (neighbor: Some(TileId(12))),
                (neighbor: Some(TileId(0))),
            ],
        ),
        TileId(27): (
            edges: [
                (neighbor: Some(TileId(20))),
                (neighbor: Some(TileId(19))),
                (neighbor: Some(TileId(18))),
                (neighbor: Some(TileId(13))),
                (neighbor: Some(TileId(1))),
            ],
        ),
        TileId(28): (
            edges: [
                (neighbor: Some(TileId(5))),
                (neighbor: Some(TileId(6))),
                (neighbor: Some(TileId(16))),
                (neighbor: Some(TileId(19))),
                (neighbor: Some(TileId(20))),
            ],
        ),
        TileId(29): (
            edges: [
                (neighbor: Some(TileId(31))),
                (neighbor: Some(TileId(30))),
                (neighbor: Some(TileId(10))),
                (neighbor: Some(TileId(9))),
                (neighbor: Some(TileId(22))),
                (neighbor: Some(TileId(21))),
            ],
        ),
        TileId(30): (
            edges: [
                (neighbor: Some(TileId(2))),
                (neighbor: Some(TileId(14))),
                (neighbor: Some(TileId(11))),
                (neighbor: Some(TileId(10))),
                (neighbor: Some(TileId(29))),
                (neighbor: Some(TileId(31))),
            ],
        ),
        TileId(31): (
            edges: [
                (neighbor: Some(TileId(4))),
                (neighbor: Some(TileId(2))),
                (neighbor: Some(TileId(30))),
                (neighbor: Some(TileId(29))),
                (neighbor: Some(TileId(21))),
            ],
        ),
    },
)
