(
    name: "Test",
    board: (
        rows: 8,
        cols: 8,
    ),
    pieces: {
        Cube: (
            count: Finite(100),
            movement: Or(
                Equal(TargetRow, SourceRow),
                Equal(TargetCol, SourceCol),
            ),
            placement: Not(PosOccupied(ToPlaceRow, ToPlaceCol)),
        ),
        Sphere: (
            count: Finite(100),
            movement: True,
            placement: Or(
                Equal(ToPlaceRow, Const(5)),
                Equal(ToPlaceCol, Const(5)),
            ),
        ),
        Cylinder: (
            count: Infinite,
            movement: Or(
                And(
                    Or(
                        Equal(Sub(TargetRow, SourceRow), Const(1)),
                        Equal(Sub(TargetRow, SourceRow), Const(-1)),
                    ),
                    Equal(TargetCol, SourceCol),
                ),
                And(
                    Or(
                        Equal(Sub(TargetCol, SourceCol), Const(1)),
                        Equal(Sub(TargetCol, SourceCol), Const(-1)),
                    ),
                    Equal(TargetRow, SourceRow),
                ),
            ),
            placement: Or(
                Equal(ToPlaceRow, Const(6)),
                Equal(ToPlaceCol, Const(6)),
            ),
        ),
        Capsule: (
            count: Finite(100),
            movement: True,
            placement: True,
        ),
        Cone: (
            count: Finite(100),
            movement: True,
            placement: True,
        ),
        Torus: (
            count: Finite(100),
            movement: True,
            placement: True,
        ),
        Tetrahedron: (
            count: Finite(100),
            movement: True,
            placement: True,
        ),
    },
    players: {
        Black: (
            win_condition: False,
            lose_condition: False,
        ),
        White: (
            win_condition: False,
            lose_condition: False,
        ),
        Red: (
            win_condition: False,
            lose_condition: False,
        ),
        Yellow: (
            win_condition: False,
            lose_condition: False,
        ),
        Green: (
            win_condition: False,
            lose_condition: False,
        ),
    },
    initial_layout: [
        (
            model: Cube,
            color: White,
            pos: (0, 0),
        ),
        (
            model: Sphere,
            color: Black,
            pos: (1, 1),
        ),
        (
            model: Cylinder,
            color: White,
            pos: (2, 2),
        ),
        (
            model: Cylinder,
            color: Red,
            pos: (3, 3),
        ),
        (
            model: Sphere,
            color: Yellow,
            pos: (4, 4),
        ),
        (
            model: Cube,
            color: Green,
            pos: (5, 5),
        ),
    ],
    game_over_condition: False,
)
