(
    board: (
        rows: 8,
        cols: 8,
    ),
    pieces: {
        Cube: (
            count: Finite(100),
            movement: Or(
                Equal(Query(TargetRow), Query(SourceRow)),
                Equal(Query(TargetCol), Query(SourceCol)),
            ),
            placement: Or(
                Equal(Query(ToPlaceRow), Const(4)),
                Equal(Query(ToPlaceCol), Const(4)),
            ),
        ),
        Sphere: (
            count: Finite(100),
            movement: True,
            placement: Or(
                Equal(Query(ToPlaceRow), Const(5)),
                Equal(Query(ToPlaceCol), Const(5)),
            ),
        ),
        Cylinder: (
            count: Infinite,
            movement: Or(
                And(
                    Or(
                        Equal(Sub(Query(TargetRow), Query(SourceRow)), Const(1)),
                        Equal(Sub(Query(TargetRow), Query(SourceRow)), Const(-1)),
                    ),
                    Equal(Query(TargetCol), Query(SourceCol)),
                ),
                And(
                    Or(
                        Equal(Sub(Query(TargetCol), Query(SourceCol)), Const(1)),
                        Equal(Sub(Query(TargetCol), Query(SourceCol)), Const(-1)),
                    ),
                    Equal(Query(TargetRow), Query(SourceRow)),
                ),
            ),
            placement: Or(
                Equal(Query(ToPlaceRow), Const(6)),
                Equal(Query(ToPlaceCol), Const(6)),
            ),
        ),
    },
    players: {
        Black: (
            win_condition: False,
            lose_condition: False,
        ),
        White: (
            win_condition: False,
            lose_condition: False,
        ),
    },
    initial_layout: [
        (
            model: Cube,
            color: White,
            pos: (0, 0),
        ),
        (
            model: Sphere,
            color: Black,
            pos: (1, 1),
        ),
        (
            model: Cylinder,
            color: White,
            pos: (2, 2),
        ),
    ],
    game_over_condition: False,
)
