(
    board: (
        rows: 8,
        cols: 8,
    ),
    pieces: {
        Cube: (
            count: Finite(2),
            placement: Or(
                Equal(TargetRow, SourceRow),
                Equal(TargetCol, SourceCol),
            ),
        ),
        Sphere: (
            count: Finite(3),
            placement: True,
        ),
        Cylinder: (
            count: Infinite,
            placement: Or(
                And(
                    Or(
                        Equal(Sub(TargetRow, SourceRow), Const(1)),
                        Equal(Sub(TargetRow, SourceRow), Const(-1)),
                    ),
                    Equal(TargetCol, SourceCol),
                ),
                And(
                    Or(
                        Equal(Sub(TargetCol, SourceCol), Const(1)),
                        Equal(Sub(TargetCol, SourceCol), Const(-1)),
                    ),
                    Equal(TargetRow, SourceRow),
                ),
            ),
        ),
    },
    players: [
        (
            name: "Alice",
            color: Black,
        ),
        (
            name: "Bob",
            color: White,
        ),
    ],
    initial_layout: [
        (
            model: Cube,
            color: White,
            pos: (0, 0),
        ),
        (
            model: Sphere,
            color: Black,
            pos: (1, 1),
        ),
        (
            model: Cylinder,
            color: White,
            pos: (2, 2),
        ),
    ],
)
