(
    board: (
        rows: 8,
        cols: 8,
    ),
    pieces: {
        Cube: (count: Finite(2)),
        Sphere: (count: Finite(3)),
        Cylinder: (count: Infinite),
    },
    players: [
        (
            name: "Alice",
            color: Black,
        ),
        (
            name: "Bob",
            color: White,
        ),
    ],
    initial_layout: [
        (
            model: Cube,
            color: White,
            pos: (0, 0),
        ),
        (
            model: Sphere,
            color: Black,
            pos: (1, 1),
        ),
        (
            model: Cylinder,
            color: White,
            pos: (2, 2),
        ),
    ],
)
